---
import { Image } from "astro:assets";
import man from "@assets/images/man.svg";
import truck from "@assets/images/truck_2.svg";
import node from "@assets/images/node-deer.svg";
import aws from "@assets/images/aws-deer.svg";
import swift from "@assets/images/swift-deer.svg";
---

<div data-about-modal class="modal">
    <button data-close-modal class="modal__btn"> &#x2715;</button>
    <div class="about-content">
        <div class="about-illustration">
            <div class="man">
                <Image src={man} alt="Man" />
            </div>
            <div class="truck">
                <Image src={truck} alt="Truck" />
            </div>
            <div class="tech">
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
                <div>
                    <span role="none"></span>
                </div>
            </div>
            <div class="deers">
                <span role="none">
                    <Image src={node} alt="NodeJS" />
                </span>
                <span role="none">
                    <Image src={aws} alt="AWS" />
                </span>
                <span role="none">
                    <Image src={swift} alt="Swift" />
                </span>
            </div>
            <div class="about-panel">
                <div class="noise" role="none"></div>

                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
                <div class="tree">
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                    <span role="none"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="about-texts">
        <h3>About me</h3>
        <p class="desc">
            I'm a frontend developer, UI designer from the Philippines.
        </p>
        <p class="desc">
            I've worked in various areas of UI/UX design, including frontend and
            some backend development.
        </p>
        <p class="desc">
            These days, I'm focusing on building mobile applications utilizing
            Expo (React Native), Swift/Kotlin and delving more into the backend
            using Node.js along with cloud services like AWS.
        </p>

        <br />
        <br />

        <article>
            <small class="date"> Present</small>
            <p>
                <strong class="title"> Avazoo</strong>
                <small> UI Designer & Full-stack Developer</small>
                Designed and developed web application using Laravel, ReactJS and
                MySQL along with a mobile application using Expo (React Native).
            </p>
        </article>
        <article>
            <small class="date"> Apr 2018 - Sept 2021</small>
            <p>
                <strong class="title"> Apptech Gateway</strong>
                <small> UI Designer & Full-stack Developer</small>
                Developed mostly the frontend for a web application using Laravel,
                ReactJS, MySQL and a mobile centric "match-it" game using ReactJS.
            </p>
        </article>
        <article>
            <small class="date"> Apr 2018 - Sept 2021</small>
            <p>
                <strong class="title"> Entinux LTD.</strong>
                <small> UI Designer & Front-end Developer</small>
                Designed and developed various websites, web apps and mobile apps
                using AngularJS, Ionic Framework and Wordpress for CMS.
            </p>
        </article>
        <article>
            <small class="date"> Dec 2021 - Dec 2022</small>
            <p>
                <strong class="title"> Crateclub</strong>
                <small> UI Designer & Front-end Developer</small>
                Designed and developed web application and front facing web pages
                using Laravel with mostly vanilla JS and CSS.
            </p>
        </article>
        <article>
            <small class="date"> Dec 2015 - Feb 2018</small>
            <p>
                <strong class="title"> Nexusbond Asia Inc.</strong>
                <small> Senior Developer / Designer</small>
                Initiates project planning and brainstorming. Manages junior developers
                for fast production of marketing pages and graphic assets.
            </p>
        </article>
        <article>
            <small class="date"> </small>
            <p>
                <a href="/assets/docs/roy-buhay-resume.pdf"> View Resume</a>
            </p>
        </article>
    </div>
</div>

<style>
    .modal {
        background-color: var(--secondary-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .about-illustration {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 85%;
        height: auto;
        position: relative;
    }

    .about-texts {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 4rem;
        margin-bottom: 0.5rem;
        padding-right: 2rem;
    }

    .about-texts h3 {
        font: var(--page-subtitle);
        color: var(--page-subtitle-color);
    }

    .about-texts p {
        color: var(--description-color);
        font-size: 0.8rem;
    }

    .about-texts p strong {
        font-size: 0.9rem;
        font-weight: 300;
        display: block;
        color: white;
    }

    .about-texts p small {
        display: block;
        color: #94abc2;
        margin-bottom: 0.5rem;
        font-size: 0.65rem;
        font-weight: 300;
    }

    .about-texts .date {
        display: block;
        width: 30%;
        text-transform: uppercase;
        font-size: 0.76rem;
        color: #4f6d88;
        font-family: Karla, "sans-serif";
    }

    .about-texts article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .about-texts article p {
        margin-top: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 0.75rem;
        color: var(--description-color);
    }

    .about-wrapper {
        width: 42rem;
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .about-panel {
        background-color: #ff964a;
        width: 26rem;
        height: 18rem;
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.2rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr) [12];
        grid-template-columns: repeat(12, 1fr);
        -ms-grid-rows: (1fr) [7];
        grid-template-rows: repeat(7, 1fr);
        -webkit-transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
        transform: rotateX(51deg) rotateY(2deg) rotate(320deg);
        -webkit-box-shadow: -30px 40px 20px 10px rgb(1 18 33 / 46%);
        box-shadow: -30px 40px 20px 10px rgb(1 18 33 / 46%);
    }

    .about-content {
        -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .about-panel:before {
        content: "";
        background: #994d27;
        position: absolute;
        z-index: -1;
        top: 4px;
        left: -5px;
        height: 100%;
        width: 5px;
        -webkit-transform: skewY(308deg);
        -ms-transform: skewY(308deg);
        transform: skewY(308deg);
        border-bottom-left-radius: 6px;
    }
    .about-panel:after {
        content: "";
        background: #9c3505;
        position: absolute;
        z-index: -1;
        bottom: -5px;
        right: 4px;
        height: 5px;
        width: 100%;
        -webkit-transform: skewX(318deg);
        -ms-transform: skewX(318deg);
        transform: skewX(318deg);
        border-top-left-radius: 1px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 5px;
    }
    .about-panel .noise {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -o-linear-gradient(rgba(255, 0, 0, 0), #be4600),
            url("./src/assets/images/noise.svg");
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(255, 0, 0, 0)),
                to(#be4600)
            ),
            url("./src/assets/images/noise.svg");
        background: linear-gradient(rgba(255, 0, 0, 0), #be4600),
            url("./src/assets/images/noise.svg");
        -webkit-filter: contrast(120%) brightness(100%);
        filter: contrast(120%) brightness(100%);
    }
    .about .shadow {
        position: absolute;
        top: 240px;
        left: -65px;
        width: 26rem;
        height: 18rem;
        z-index: -1;
        -webkit-transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
        transform: rotateX(50deg) rotateY(6deg) rotate(138deg);
        border-radius: 7px;
        background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
            url("./src/assets/images/noise.svg");
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(3, 38, 70)),
                to(#07355f)
            ),
            url("./src/assets/images/noise.svg");
        background: linear-gradient(rgb(3, 38, 70), #07355f),
            url("./src/assets/images/noise.svg");
        -webkit-filter: contrast(200%) blur(20px);
        filter: contrast(200%) blur(20px);
        opacity: 0.3;
    }

    .tech {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 130px;
        left: 120px;
    }
    .tech img {
        position: absolute;
        border-radius: 100%;
        overflow: hidden;
        width: 45px;
        height: 45px;
        -webkit-box-shadow: 0 12px 20px -5px #001f34b8;
        box-shadow: 0 12px 20px -5px #001f34b8;
        -webkit-transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
        transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
    }
    .tech div {
        position: absolute;
        width: 45px;
        height: 45px;
        border-radius: 100%;
    }
    .tech span {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
        transform: rotateX(44deg) rotateY(2deg) rotate(0deg);
        -webkit-box-shadow: 0 9px 20px -5px #001f34b8;
        box-shadow: 0 9px 20px -5px #001f34b8;
        background-size: contain;
        border-radius: 100%;
    }
    .tech span:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        z-index: -1;
        border-radius: 100px;
        -webkit-filter: contrast(169%) blur(0px);
        filter: contrast(169%) blur(0px);
        opacity: 0.7;
    }
    .tech div:first-of-type {
        top: -70px;
    }
    .tech div:first-of-type span {
        background-image: url("../../assets/images/tech/html.svg");
    }
    .tech div:first-of-type span:after {
        background: -o-linear-gradient(rgb(255 129 91), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(255 129 91)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(255 129 91), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(2) {
        top: -60px;
        left: -30px;
    }
    .tech div:nth-of-type(2) span {
        background-image: url("../../assets/images/tech/css.svg");
    }
    .tech div:nth-of-type(2) span:after {
        background: -o-linear-gradient(rgb(17 122 204), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(17 122 204)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(17 122 204), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(3) {
        top: -30px;
    }
    .tech div:nth-of-type(3) span {
        background-image: url("../../assets/images/tech/js.svg");
    }
    .tech div:nth-of-type(3) span:after {
        background: -o-linear-gradient(#c99700, #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(#c99700),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(#c99700, #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(4) {
        top: -90px;
        left: 50px;
    }
    .tech div:nth-of-type(4) span {
        background-image: url("../../assets/images/tech/ts.svg");
    }
    .tech div:nth-of-type(4) span:after {
        background: -o-linear-gradient(#1852ff, #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(#1852ff),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(#1852ff, #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(5) {
        top: -50px;
        left: 50px;
    }
    .tech div:nth-of-type(5) span {
        background-image: url("../../assets/images/tech/react.svg");
    }
    .tech div:nth-of-type(5) span:after {
        background: -o-linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(90 91 91)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(6) {
        background-image: url("../../assets/images/tech/react_native.svg");
        display: none;
    }
    .tech div:nth-of-type(6) span {
        background-image: url("../../assets/images/tech/react_native.svg");
    }
    .tech div:nth-of-type(6) span:after {
        background: -o-linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(90 91 91)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(7) {
        top: 10px;
        left: -40px;
    }
    .tech div:nth-of-type(7) span {
        background-image: url("../../assets/images/tech/expo.svg");
    }
    .tech div:nth-of-type(7) span:after {
        background: -o-linear-gradient(rgb(116 118 120), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(116 118 120)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(116 118 120), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(8) {
        top: 20px;
        left: 20px;
    }
    .tech div:nth-of-type(8) span {
        background-image: url("../../assets/images/tech/next.svg");
    }
    .tech div:nth-of-type(8) span:after {
        background: -o-linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(90 91 91)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(90 91 91), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(9) {
        top: 50px;
        left: -20px;
    }
    .tech div:nth-of-type(9) span {
        background-image: url("../../assets/images/tech/tailwind.svg");
    }
    .tech div:nth-of-type(9) span:after {
        background: -o-linear-gradient(rgb(3 116 131), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(3 116 131)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(3 116 131), #00000000),
            url(./src/assets/images/noise.svg);
    }
    .tech div:nth-of-type(10) {
        top: 30px;
        left: 160px;
    }
    .tech div:nth-of-type(10) span {
        background-image: url("../../assets/images/tech/aws.svg");
    }
    .tech div:nth-of-type(10) span:after {
        background: -o-linear-gradient(rgb(70 101 131), #00000000),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(70 101 131)),
                to(#00000000)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(70 101 131), #00000000),
            url(./src/assets/images/noise.svg);
    }

    .deers {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    .deers > span {
        display: block;
        background-size: contain;
        position: absolute;
        width: 4.3rem;
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    .deers > span:after {
        content: "";
        position: absolute;
        bottom: 7rem;
        left: 1.2rem;
        width: 3rem;
        height: 2rem;
        background: -o-linear-gradient(rgb(139 42 0), #7f2902),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(139 42 0)),
                to(#7f2902)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(139 42 0), #7f2902),
            url(./src/assets/images/noise.svg);
        -webkit-transform: rotate(-25deg) skew(40deg, 0deg);
        -ms-transform: rotate(-25deg) skew(40deg, 0deg);
        transform: rotate(-25deg) skew(40deg, 0deg);
        z-index: -1;
        border-radius: 100px;
        -webkit-filter: blur(3px);
        filter: blur(3px);
        opacity: 0.3;
    }
    .deers > span:first-of-type {
        bottom: 2rem;
        left: 26rem;
    }
    .deers > span:nth-of-type(2) {
        top: -9rem;
        right: 7.5rem;
    }
    .deers > span:nth-of-type(3) {
        bottom: 2rem;
        right: 0;
    }
    .deers > span > img {
        width: 100%;
    }
    .deers > span:first-of-type:after {
        left: -5px;
        -webkit-transform: rotate(15deg) skew(40deg, 0deg);
        -ms-transform: rotate(15deg) skew(40deg, 0deg);
        transform: rotate(15deg) skew(40deg, 0deg);
    }
    .tree {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: -65px;
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotate(40deg);
        transform: rotateX(0deg) rotateY(0deg) rotate(40deg);
        background: transparent;
        scale: 0.88;
    }
    .tree span {
        overflow: hidden;
        position: relative;
    }
    .tree span:after {
        content: "";
        -webkit-filter: contrast(110%) brightness(100%);
        filter: contrast(110%) brightness(100%);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .tree span:nth-child(1) {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid rgb(93 161 42);
        border-radius: 50px;
        display: inline-block;
        margin-bottom: -13px;
        position: relative;
        z-index: 2;
    }
    @media not all and (-webkit-min-device-pixel-ratio: 0),
        not all and (-o-min-device-pixel-ratio: 0/1),
        not all and (min-resolution: 0.001dpcm) {
        .tree span:nth-child(1) {
            border-bottom: 30px solid rgb(73, 120, 40);
        }
    }
    .tree span:nth-child(2) {
        background-color: rgb(53 107 17);
        width: 28px;
        height: 29px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: -16px;
        position: relative;
        z-index: 2;
    }
    .tree span:nth-child(2):after {
        background: -o-radial-gradient(
                circle at 65% 35%,
                rgba(0, 0, 0, 0),
                rgba(84, 177, 24, 0.89)
            ),
            url("./src/assets/images/noise.svg");
        background: -o-radial-gradient(
                65% 35%,
                circle,
                rgba(0, 0, 0, 0),
                rgba(84, 177, 24, 0.89)
            ),
            url("./src/assets/images/noise.svg");
        background: radial-gradient(
                circle at 65% 35%,
                rgba(0, 0, 0, 0),
                rgba(84, 177, 24, 0.89)
            ),
            url("./src/assets/images/noise.svg");
    }
    .tree span:nth-child(3) {
        background-color: #3c891c;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: -27px;
        position: relative;
        z-index: 1;
    }
    .tree span:nth-child(3):after {
        background: -o-radial-gradient(
                65% 35%,
                circle,
                rgba(0, 0, 0, 0),
                #347618
            ),
            url("./src/assets/images/noise.svg");
        background: radial-gradient(
                circle at 65% 35%,
                rgba(0, 0, 0, 0),
                #347618
            ),
            url("./src/assets/images/noise.svg");
    }
    .tree span:nth-child(4) {
        background-color: #155c0c;
        width: 43px;
        height: 47px;
        border-radius: 50%;
        display: inline-block;
    }
    .tree span:nth-child(4):after {
        background: -o-radial-gradient(
                65% 35%,
                circle,
                rgba(0, 0, 0, 0),
                #155c0c
            ),
            url("./src/assets/images/noise.svg");
        background: radial-gradient(
                circle at 65% 35%,
                rgba(0, 0, 0, 0),
                #155c0c
            ),
            url("./src/assets/images/noise.svg");
    }
    .tree span:nth-child(5) {
        background-color: #41240b;
        display: inline-block;
        width: 13px;
        height: 14px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-top: -2px;
    }
    .tree:nth-child(1) {
        -ms-grid-column: 9;
        grid-column: 9;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(2) {
        -ms-grid-column: 11;
        grid-column: 11;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(3) {
        -ms-grid-column: 12;
        grid-column: 12;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(4) {
        -ms-grid-column: 13;
        grid-column: 13;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(5) {
        -ms-grid-column: 12;
        grid-column: 12;
        -ms-grid-row: 2;
        grid-row: 2;
    }
    .tree:nth-child(6) {
        -ms-grid-column: 17;
        grid-column: 17;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(7) {
        -ms-grid-column: 18;
        grid-column: 18;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .tree:nth-child(8) {
        -ms-grid-column: 10;
        grid-column: 10;
        -ms-grid-row: 3;
        grid-row: 3;
    }
    .tree:nth-child(9) {
        -ms-grid-column: 10;
        grid-column: 10;
        -ms-grid-row: 4;
        grid-row: 4;
    }
    .tree:nth-child(10) {
        -ms-grid-column: 17;
        grid-column: 17;
        -ms-grid-row: 4;
        grid-row: 4;
    }
    .tree:nth-child(11) {
        -ms-grid-column: 16;
        grid-column: 16;
        -ms-grid-row: 4;
        grid-row: 4;
    }
    .tree:nth-child(12) {
        -ms-grid-column: 17;
        grid-column: 17;
        -ms-grid-row: 5;
        grid-row: 5;
    }
    .tree:nth-child(13) {
        -ms-grid-column: 9;
        grid-column: 9;
        -ms-grid-row: 6;
        grid-row: 6;
    }
    .tree:nth-child(14) {
        -ms-grid-column: 11;
        grid-column: 11;
        -ms-grid-row: 7;
        grid-row: 7;
        position: relative;
        z-index: 2;
    }
    .tree:nth-child(15) {
        -ms-grid-column: 12;
        grid-column: 12;
        -ms-grid-row: 6;
        grid-row: 6;
    }
    .tree:nth-child(16) {
        -ms-grid-column: 13;
        grid-column: 13;
        -ms-grid-row: 7;
        grid-row: 7;
    }
    .tree:nth-child(17) {
        -ms-grid-column: 10;
        grid-column: 10;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .truck {
        position: absolute;
        top: -7rem;
        left: 18rem;
    }
    .truck img {
        width: auto;
        height: 9rem;
    }
    .truck:after {
        content: "";
        position: absolute;
        top: 75px;
        left: 40px;
        width: 60%;
        height: 50%;
        background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(3, 38, 70)),
                to(#07355f)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(3, 38, 70), #07355f),
            url(./src/assets/images/noise.svg);
        -webkit-transform: skew(-61deg, 25deg);
        -ms-transform: skew(-61deg, 25deg);
        transform: skew(-61deg, 25deg);
        z-index: -1;
        border-radius: 100px;
        -webkit-filter: contrast(200%) blur(7px);
        filter: contrast(200%) blur(7px);
        opacity: 0.3;
    }
    .man {
        position: absolute;
        bottom: -1rem;
        left: 13rem;
        z-index: 2;
    }
    .man img {
        width: auto;
        height: 8.5rem;
    }
    .man:after {
        content: "";
        position: absolute;
        top: 88px;
        left: -3px;
        width: 63px;
        height: 65px;
        background: -o-linear-gradient(rgb(3, 38, 70), #07355f),
            url(./src/assets/images/noise.svg);
        background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgb(3, 38, 70)),
                to(#07355f)
            ),
            url(./src/assets/images/noise.svg);
        background: linear-gradient(rgb(3, 38, 70), #07355f),
            url(./src/assets/images/noise.svg);
        -webkit-transform: rotate(45deg) skew(-1deg, -18deg);
        -ms-transform: rotate(45deg) skew(-1deg, -18deg);
        transform: rotate(45deg) skew(-1deg, -18deg);
        z-index: -1;
        border-radius: 100px;
        -webkit-filter: contrast(200%) blur(10px);
        filter: contrast(200%) blur(10px);
        opacity: 0.2;
    }

    @media screen and (max-width: 1200px) {
        .about-content {
            width: 770px;
            margin-right: -3rem;
            margin-left: -4rem;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
        }
    }

    @media screen and (max-width: 1024px) {
        .modal__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .about-content {
            position: relative;
            margin: 100px auto 0;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
        .about-texts {
            padding: 2rem;
        }
    }

    @media screen and (max-width: 1100px) {
        .about-content {
            margin-left: -7rem;
            margin-right: -7rem;
            -webkit-transform: scale(0.85);
            -ms-transform: scale(0.85);
            transform: scale(0.85);
        }
    }

    @media screen and (max-width: 850px) {
        .about-content {
            margin-left: -9rem;
            margin-right: -9rem;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
    }

    @media screen and (max-width: 900px) {
        .about-content {
            margin: 6rem auto 0;
        }
        .about-texts {
            margin-top: 0;
        }
        .modal {
            top: 4%;
            overflow-y: auto;
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 700px) {
        .about-texts {
            overflow: initial;
        }
        .about-content {
            margin-left: -1rem;
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
    }

    @media screen and (max-width: 600px) {
        .about-content {
            left: -6rem;
            -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
            transform: scale(0.75);
        }
    }

    @media screen and (max-width: 520px) {
        .about-content {
            left: -8.5rem;
        }
    }

    @media screen and (max-width: 460px) {
        .about-content {
            left: -10rem;
        }
    }

    @media screen and (max-width: 420px) {
        .about-content {
            left: -10rem;
            -webkit-transform: scale(0.65);
            -ms-transform: scale(0.65);
            transform: scale(0.65);
        }
    }
</style>
